.ProductCalculator { display: flex; flex-direction: column; justify-content: space-between; }
.ProductCalculator-item { margin-bottom: 1em; }
.ProductCalculator-item-detail { display: flex; justify-content: space-between; }
.ProductCalculator-item-name { font-weight: bold; }
.ProductCalculator-item-price { text-align: right; }
.ProductCalculator-item-info { font-size: 0.8em; }